
.rectangle
{
    background-color:black;
    width:250px;
    height:80vh;
   border-radius:10px;
   align-items: center;
   margin-left:500px;   
}
.green
{
    background-color:green;
    width:150px;
    height:18vh;
    border:2px solid green;
    border-radius:50%;
    margin:50px;
}
.orange
{
    background-color:orange;
    width:150px;
    height:18vh;
    border:2px solid orange;
    border-radius:50%;
    margin:50px;
}
.red
{
    background-color:red;
    width:150px;
    height:18vh;
    border:2px solid red;
    border-radius:50%;
    margin:50px;
}